<div class="module-block" [ngClass]="IsCurrentModule() ? 'current': ''" (click)="ShowMoreInfo()">
  <div *ngIf="hidden" class="row">
    <div class="col-6">
        <small>Temporarily Hidden.</small>
    </div>
    <div class="col-6 text-right">
      <ng-template #undoHide>Undo - Keep This Module</ng-template>
      <fa-icon [icon]="icons.undo" class="undo" (click)="UnhideModule()" [ngbTooltip]="undoHide" placement="top"></fa-icon>
    </div>
  </div>
  <div *ngIf="!hidden">
    <div *ngIf="IsLoggedIn()">
      <ng-template #hideModule>Hide Module</ng-template>
      <fa-icon [icon]="icons.remove" (click)="HideModule()" class="hide-module" [ngbTooltip]="hideModule" placement="top"></fa-icon>
    </div>

    <div *ngIf="conflicting">
      <ng-template #clashingModule>Clashing Module</ng-template>
      <fa-icon [icon]="icons.warning" class="conflicting" [ngbTooltip]="clashingModule" placement="top"></fa-icon>
    </div>

    <div class="module-title">
      <strong [@textGrow]="showMoreInfo ? 'grow' : 'shrink'">{{ module.module.name }}</strong> <small> ({{ module.type }})</small>
    </div>

    <div *ngIf="!showMoreInfo" class="row">
      <module-info [colWidth]="'6'" [infoClass]="'brief'" [title]="'Starts at'" [info]="module.times.start" [isTime]="true"></module-info>
      <module-info [colWidth]="'6'" [infoClass]="'brief'" [title]="'Ends at'" [info]="module.times.end" [isTime]="true"></module-info>

      <module-info [colWidth]="'6'" [infoClass]="'brief'" [title]="'Room' + (module.rooms.length > 1 ? 's' : '')" [info]="roomsBrief" [isInnerHTML]="true"></module-info>
      <module-info [colWidth]="'6'" [infoClass]="'brief'" [title]="'Starts at'" [info]="duration"></module-info>
    </div>

    <div *ngIf="showMoreInfo" class="row">
      <module-info [colWidth]="'6'" [infoClass]="'extra'" [title]="'Starts at'" [info]="module.times.start" [isTime]="true"></module-info>
      <module-info [colWidth]="'6'" [infoClass]="'extra'" [title]="'Duration'" [info]="duration"></module-info>

      <module-info [colWidth]="'6'" [infoClass]="'extra'" [title]="'Ends at'" [info]="module.times.end" [isTime]="true"></module-info>
      <module-info [colWidth]="'6'" [infoClass]="'extra'" [title]="'Starts in'" [info]="timeUntil"></module-info>

      <module-info [colWidth]="'6'" [infoClass]="'extra'" [title]="'Lecturer' + (module.lecturers.length > 1 ? 's' : '')" [info]="lecturers" [isInnerHTML]="true"></module-info>
      <module-info [colWidth]="'6'" [infoClass]="'extra'" [title]="'Room' + (module.rooms.length > 1 ? 's' : '')" [info]="rooms" [isInnerHTML]="true"></module-info>
    </div>
  </div>
</div>