li {
    &.list-group-item {
        transition: 1s;
        margin-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(0, 0, 0, 0.05);

        &.open {
            background-color: rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(245, 245, 245, 0.1);    
        }

        &.closed {
            cursor: pointer;
        }

        fa-icon {
            position: absolute;
            right: 12px;
            top: 16px;
            color: white;
            cursor: pointer;

            &.no-modules {
                color: #999;
                cursor: default;
            }
        }
    }

    .day-underline {
        margin: 0 auto;
        width: 50%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    div {
        &.day-name {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            color: white;
            cursor: pointer;
            
            &.no-modules {
                color: #999;
                cursor: default;
            }
        }

        &.modules {
            margin-top: 10px;
        }
    }
}

@media only screen and (max-width: 400px) {
    &.list-group-item {
        padding: 10px 5px;
    }
}