li {
    &.list-group-item {
        margin-bottom: 10px;
        background: transparent;
        border: 1px solid rgba(245, 245, 245, 0.1);
    }

    div {
        &.day-name {
            margin-bottom: 10px;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }
    }
}