div {
    &.class-block {
        padding: 20px 10px 10px 20px;
        margin-bottom: 10px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
    }

    &.module-title {
        margin-bottom: 5px;
    }
}