li {
    &.list-group-item {
        margin-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.6);
    }

    span {
        &.day-name {
            display: inline-block;
            margin-bottom: 10px;
            font-weight: bold;
        }
    }
}