<div class="row justify-content-md-center">
  <div class="main col-sm-12 col-md-10 col-lg-8">
    <form>
      <div class="text-center">
        <h3>Login</h3>
        <div class="sect">
          <input type="text" id="studentID" class="form-control" placeholder="Student ID" #studentID />
        </div>
        <div class="sect">
          <input type="password" id="password" class="form-control" placeholder="Password" #pass />
        </div>
      </div>
      <div class="text-right">
        <button (click)="Login(studentID, pass)" class="btn btn-lg btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>