<page-heading [heading]="heading"></page-heading>

<form *ngIf="!isRegistered">
  <div class="text-center">
    <div class="form-group">
      <input type="email" id="studentEmail" class="form-control" placeholder="Student Email" #studentEmail />
    </div>
    <div class="form-group">
      <input type="text" id="name" class="form-control" placeholder="Your Name" #name />
    </div>
    <div class="form-group">
      <input type="password" id="password" class="form-control" placeholder="Password" #password />
    </div>
  </div>
  <div class="text-right">
      <app-button [text]="'Register'" [size]="'large'" [style]="'primary'" (click)="Register(studentEmail, name, password)"></app-button>
  </div>
</form>

<div *ngIf="isRegistered">
  <p>You have successfully registered. Please check your email to confirm your email address.</p>
</div>