<page-heading [heading]="heading"></page-heading>

<div *ngIf="timetable">
  <div *ngIf="HaveClassToday() && FinishedForTheDay()" class="no-class-today">You have no more classes today.</div>
  <div *ngIf="!HaveClassToday()" class="no-class-today">You have no classes today.</div>
  <div *ngIf="HaveClassToday()">
    <current-class *ngIf="HasClassNow()" [classes]="CurrentClass()"></current-class>
    <current-break *ngIf="HasBreakNow()" [break]="CurrentBreak()"></current-break>
  </div>
  
  <ul class="list-group">
    <timetable-day *ngFor="let day of timetable.Days" [day]="day"></timetable-day>
  </ul>
</div>