.no-module-today {
    background-color: rgb(255, 174, 0);
    padding: 20px;
    border-radius: 4px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.current-info {
    margin-bottom: 20px;
}

#hide-btn {
    position: fixed;
}

.restore {
    color: white;
    cursor: pointer;
}

.content {
    min-height: 200px;
}