.no-module-today {
    background-color: rgb(255, 174, 0);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

#hide-btn {
    position: fixed;
}