<div class="issue-alert">
  <p>
    We are currently experiencing an issue with AWS & DynamoDB -
    Something out of our control has recently changed.
    We are working to fix the issue.
  </p>
</div>

<page-heading [heading]="heading"></page-heading>

<div class="text-center top-notice">
    <p>Select your course timetable</p>
</div>

<select-course-form></select-course-form>

<div class="text-center bottom-notice">
    <p><a routerLink="/register">Create an account</a> in order to save your timetable.</p>
    <p>You can also remove certain modules from your timetable so you only see what's relevant to you.</p>
</div>
