<form>
    <select (ngModelChange)='SetDepartment($event)' name="department" (ngModel)="departments" class='form-control'>
        <option selected disabled [ngValue]="null">Select department</option>
        <option [ngValue]="dept" *ngFor="let dept of departments">{{ dept }}</option>
    </select>

    <select (ngModelChange)='SetCourse($event)' name="course" (ngModel)="courses" class='form-control'>
        <option selected disabled [ngValue]="null">Select course</option>
        <option [ngValue]="course" *ngFor="let course of courses">{{ course.name }}</option>
    </select>

    <button type="submit" class="btn btn-primary" (click)="ViewTimetable(1)" [disabled]="!selectedCourse">Semester 1</button>
    <button type="submit" class="btn btn-primary" (click)="ViewTimetable(2)" [disabled]="!selectedCourse">Semester 2</button>
</form>