<form>
    <div class="form-group">
        <dropdown [items]="departments" [emptyOption]="true" [emptyOptionText]="'Select department'" 
            [name]="'department'" (valueSelected)="SetDepartment($event)"></dropdown>
    </div>

    <div class="form-group">
        <dropdown [items]="courses" [key]="'name'" [emptyOption]="true" [emptyOptionText]="'Select course'" 
            [name]="'course'" [disabled]="!selectedDept" (valueSelected)="SetCourse($event)"></dropdown>
    </div>

    <div class="text-right">
        <app-button [text]="'Semester 1'" [style]="selectedCourse ? 'success' : 'warning'" (click)="ViewTimetable(1)" [disabled]="!selectedCourse" class="btn-left"></app-button>
        <app-button [text]="'Semester 2'" [style]="selectedCourse ? 'success' : 'warning'" (click)="ViewTimetable(2)" [disabled]="!selectedCourse"></app-button>
    </div>
</form>