<nav class="navbar navbar-expand-sm navbar-dark fixed-top" [style.background-color]="BackgroundColor()">
  <a class="navbar-brand" href="#"></a>
  <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#nav-links" (click)="ToggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': expandNav }" id="nav-links">
    <ul class="navbar-nav mr-auto" (click)="CloseNavBar()">
      <nav-link [text]="'Home'" [url]="'/'"></nav-link>
      <nav-link [text]="'My Timetable'" [url]="'/timetable'"></nav-link>
    </ul>
    <ul class="navbar-nav" (click)="CloseNavBar()">
      <nav-link [text]="'Logout'" *ngIf="IsLoggedIn()" (click)="Logout()"></nav-link>
      <nav-link [text]="'Login'" [url]="'/login'" *ngIf="!IsLoggedIn()"></nav-link>
      <nav-link [text]="'Register'" [url]="'/register'" *ngIf="!IsLoggedIn()"></nav-link>
    </ul>
  </div>
</nav>