<nav class="navbar navbar-expand-sm navbar-dark fixed-top" [style.background-color]="BackgroundColor()">
  <a class="navbar-brand" href="#"></a>
  <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#nav-links" (click)="ToggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': expandNav }" id="nav-links">
    <ul class="navbar-nav mr-auto" (click)="CloseNavBar()">
      <nav-link *ngFor="let navLink of navLinksLeft" [navLink]="navLink"></nav-link>
    </ul>

    <ul class="navbar-nav" (click)="CloseNavBar()" *ngIf="IsAdmin()">
      <nav-link *ngFor="let navLink of adminLinksRight" [navLink]="navLink"></nav-link>
    </ul>

    <ul class="navbar-nav" (click)="CloseNavBar()" *ngIf="!IsLoggedIn()">
      <nav-link *ngFor="let navLink of navLinksRight" [navLink]="navLink"></nav-link>
    </ul>

    <ul class="navbar-nav" (click)="CloseNavBar()" *ngIf="IsLoggedIn()">
      <nav-link [navLink]="logoutLink" (click)="Logout()"></nav-link>
    </ul>
  </div>
</nav>