@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr.css';

body {
    background-color: #555;
    background-image: url('/assets/images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 65px 20px 20px 20px;

    /* Bug fix for Bootstrap / NGX-Toastr naming clash */
    #toast-container > div {
        opacity: 1;
    }
    .toast {
        font-size: initial !important;
        border: initial !important;
        backdrop-filter: blur(0) !important;
    }
    .toast-success {
        background-color: #51A351 !important;
    }
    .toast-error {
        background-color: #BD362F !important;
    }
    .toast-info {
        background-color: #2F96B4 !important;
    }
    .toast-warning {
        background-color: #F89406 !important;
    }
}