@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr.css';

body {
    background-color: #070707;
    background-image: url('/assets/images/background4.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;

    * {
        margin: 0;
        padding: 0;
    }

    .black-overlay {
        position:absolute !important;
    }

    /* Bug fix for Bootstrap / NGX-Toastr naming clash */
    #toast-container > div {
        opacity: 1;
    }
    .toast {
        font-size: initial !important;
        border: initial !important;
        backdrop-filter: blur(0) !important;
    }
    .toast-success {
        background-color: #51A351 !important;
    }
    .toast-error {
        background-color: #BD362F !important;
    }
    .toast-info {
        background-color: #2F96B4 !important;
    }
    .toast-warning {
        background-color: #F89406 !important;
    }

    p {
        color: white;
    }
}