ul {
    li {
        &.list-group-item {
            padding: 4px 12px;

            &.headings {
                padding: 8px 12px;
                font-weight: bold;
            }
        }
    }
}